<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo Proyecto</title>

    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../libreria/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.min.css">

    <link rel="shortcut icon" href="../Img/logo.png">

</head>
<body>

    <div class="menu-principal">

        <div class="logo" id="logo">
            <img src="../Img/logo.png" alt="Logo">
        </div>
        <div class="menu-bar" id="menuBar">

            <i class="fas fa-angle-right" id="btnMenuClosed"></i>

            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#equipo">Equipo</a></li>
                    <li><a href="#contacto">Contactos</a></li>
                </ul>
            </nav>
            <div class="sociales">
                <a href="#"><span class="fab fa-facebook"></span></a>
                <a href="#"><span class="fab fa-instagram"></span></a>
                <a href="#"><span class="fab fa-twitter"></span></a>
                <a href="#"><span class="fab fa-youtube"></span></a>
            </div>
    
        </div>

        <i class="fas fa-bars" id="btnMenuOpen"></i>

    </div>

    
    <section id="menu-productos">

        <div class="contenedor-principal">
            <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>


            <div class="slider">
                <div class="contenedor-producto">
                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Peperoni</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum accusantium dolores numquam soluta quo odio laborum iure</p>
                        <button class="btn">¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../Img/menu/peperoni.png" alt="">
                    </div>

                </div>

                <div class="contenedor-producto">
                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Especial</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum accusantium dolores numquam soluta quo odio laborum iure</p>
                        <button class="btn">¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../Img/menu/especial.png" alt="">
                    </div>

                </div>

                <div class="contenedor-producto">
                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Margarita</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum accusantium dolores numquam soluta quo odio laborum iure</p>
                        <button class="btn">¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../Img/menu/margarita.png" alt="">
                    </div>

                </div>

                <div class="contenedor-producto">
                    <div class="descripcion-productos">
                        <h2>Producto <b>premium</b></h2>
                        <h1>Americana</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum accusantium dolores numquam soluta quo odio laborum iure</p>
                        <button class="btn">¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../Img/menu/americana.png" alt="">
                </div>

                </div>

                <div class="contenedor-producto">
                    <div class="descripcion-productos">
                        <h2>Producto <b>especial</b></h2>
                        <h1>Suprema</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum accusantium dolores numquam soluta quo odio laborum iure</p>
                        <button class="btn">¡Solicitala aquí! <span class="fas fa-angle-right"></span></button>
                    </div>
                    <div class="imagen-productos">
                        <img src="../Img/menu/suprema.png" alt="">
                    </div>

                </div>
            </div>


            <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>
        </div>

    </section>
    

<!-- Sección de Servicios -->

    <section id="servicios">

        <div class="servicios-titulos">
            <h2 class="subtitulos">La mejor pizza del mundo</h2>
            <h1 class="titulos">Bienvenidos a World pizza</h1>
        </div>

        <div class="servicios-contenedor">
            <div class="imagen-central">
                <img src="../Img/mitad-mitad.png" alt="">
            </div>

            <div class="items calidad">
                <p><span class="fas fa-pizza-slice"></span></p>
                <p class="titulo-item">Calidad</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>

            <div class="items ingredientes">
                <p><span class="fas fa-cheese"></span></p>
                <p class="titulo-item">Ingredientes</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>

            <div class="items rapidez">
                <p><span class="fas fa-clock"></span></p>
                <p class="titulo-item">Rapidez</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>

            <div class="items entrega">
                <p><span class="fas fa-shipping-fast"></span></p>
                <p class="titulo-item">Entrega</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
        </div>

    </section>


    <!-- Sección Equipo -->
     <section id="equipo">

        <div class="persona">
            <img src="../Img/perfil1.png" alt="" class="persona-imagen">
            <div class="persona-info">
                <h2>Jesús Alonso</h2>
                <p>Chef Pizzero</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../Img/perfil2.png" alt="" class="persona-imagen">
            <div class="persona-info">
                <h2>Eliza Smith</h2>
                <p>Chef</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../Img/perfil3.png" alt="" class="persona-imagen">
            <div class="persona-info">
                <h2>Henrry Griffith</h2>
                <p>Asistente de Chef</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                </div>
            </div>
        </div>

        <div class="persona">
            <img src="../Img/perfil4.png" alt="" class="persona-imagen">
            <div class="persona-info">
                <h2>Paulina Vega</h2>
                <p>Asistente</p>
                <div class="social-media">
                    <a href=""><span class="fab fa-facebook"></span></a>
                    <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
                </div>
            </div>
        </div>

     </section>


     <!-- Sección de Ingredientes -->

     <section id="ingredientes">

        <div class="ingre">
            <img src="../Img/ingredientes1.jpg" alt="" class="imagen-ingre">
            <div class="info-ingre">
                <p><span class="fas fa-cheese"></span></p>
                <p class="txt-ingre">Queso</p>
            </div>
        </div>

        <div class="ingre">
            <img src="../Img/ingredientes2.jpg" alt="" class="imagen-ingre">
            <div class="info-ingre">
                <p><span class="fas fa-leaf"></span></p>
                <p class="txt-ingre">Vegetales</p>
            </div>
        </div>

        <div class="ingre">
            <img src="../Img/ingredientes3.jpg" alt="" class="imagen-ingre">
            <div class="info-ingre">
                <p><span class="fas fa-fill-drip"></span></p>
                <p class="txt-ingre">Salsa</p>
            </div>
        </div>

        <div class="ingre">
            <img src="../Img/ingredientes4.jpg" alt="" class="imagen-ingre">
            <div class="info-ingre">
                <p><span class="fas fa-drumstick-bite"></span></p>
                <p class="txt-ingre">Carne</p>
            </div>
        </div>

     </section>


     <!-- SECCION CONTACTO -->
      
     <section id="contacto">
        <div class="titulo-contacto">
             <h2 class="subtitulos">Queremos conocer tu opinión</h2>
             <h1 class="titulos">Contáctanos</h1>
        </div>

        <form action="" id="formulario">
             <div class="two-fiels">
                  <div class="inputConIcon">
                       <input type="text" id="nombre" name="nombre" class="input-text" placeholder="Nombre">
                       <i class="fas fa-user"></i>
                  </div>

                  <div class="inputConIcon">
                       <input type="email" id="email" name="email" class="input-email" placeholder="Email">
                       <i class="fas fa-envelope"></i>
                  </div>
             </div>


             <div class="fiels">
                  <div class="inputConIcon textareaIcon">
                       <textarea name="comentarios" id="comentarios" class="textarea" placeholder="Ingrese su mensaje"></textarea>
                       <i class="fas fa-comments"></i>
                  </div>
             </div>

             <div class="fiels-btn">
                  <input type="submit" class="btn btn-input" value="Enviar">
             </div>
        </form>
   </section>



   <!-- SECCION FOOTER -->

   <footer>

        <div class="sociales-metodo">
            <i class="fas fa-map-marker-alt"></i>
            <span>Lorem ipsum dolor sit amet</span>
        </div>

        <div class="sociales-metodo">
            <i class="fas fa-envelope"></i>
            <span>info@worldpizza.com</span>
        </div>

        <div class="sociales-metodo">
            <i class="fas fa-phone"></i>
            <span>8133546875</span>
        </div>

        <div class="sociales-metodo">
            <i class="fab fa-twitter"></i>
            <span>@worldpizza</span>
        </div>

   </footer>



   <!-- ALERTAS -->

   <div class="alertas">

    <div id="alertError" class="alert hide">
        <span class="icono-alert fas fa-exclamation-circle"></span>
        <span class="msg">Error: Campos de entrada vacios.</span>
    </div>

    <div id="alertSuccess" class="alert hide">
        <span class="icono-alert fas fa-check-circle"></span>
        <span class="msg">¡Datos enviados! Gracias por contactarnos.</span>
    </div>

   </div>


   <!-- BOTON PARA IR ARRIBA -->

   <div id="btn-top">
        <span class="fas fa-angle-up"></span>
   </div>


    <script src="../Js/app.js"></script>
</body>
</html>